body {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}
h1,
h2,
h3 {
  text-align: center;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style-type: none;
}
.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -11;
}
.bg > img {
  width: 100%;
  height: 100%;
}
.turnTheTassel {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.turnTheTassel .turnTheTassel-top {
  width: 100%;
  height: 33vh;
}
.turnTheTassel .turnTheTassel-center {
  flex: 1;
}
.turnTheTassel .turnTheTassel-center .turnTheTassel-center-template {
  margin: auto;
  width: 920px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.turnTheTassel .turnTheTassel-center .turnTheTassel-center-template .template-group {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.turnTheTassel .turnTheTassel-center .turnTheTassel-center-template .template-group .template-group-item {
  position: relative;
  width: 138.92px;
  height: 200px;
  margin: 4px 16px;
  overflow: hidden;
}
.turnTheTassel .turnTheTassel-center .turnTheTassel-center-template .template-group .template-group-item img {
  width: 100%;
  height: 100%;
}
.turnTheTassel .turnTheTassel-center .turnTheTassel-center-template .template-group .template-group-item .template-troup-item-pic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.turnTheTassel .turnTheTassel-center .turnTheTassel-center-template .template-group .template-group-item .student_cloth {
  width: 145%;
  height: 38%;
  position: absolute;
  left: 50%;
  bottom: -1px;
  transform: translateX(-50%);
}
.turnTheTassel .turnTheTassel-center .turnTheTassel-center-template .template-group .template-group-item .student_theHat {
  position: absolute;
  width: 110%;
  left: 50%;
  transform: translate(-50%, 100%);
  bottom: -10%;
  z-index: 111;
}
.turnTheTassel .turnTheTassel-center .turnTheTassel-center-template .template-group .template-group-item .student_theHat .hatWithTassel {
  position: relative;
}
.turnTheTassel .turnTheTassel-center .turnTheTassel-center-template .template-group .template-group-item .student_theHat .hatWithTassel .tassel {
  position: absolute;
  left: 10%;
  top: 35%;
  width: 15px;
}
.turnTheTassel .turnTheTassel-bottom {
  width: 100%;
  height: 16vh;
}
.name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.animation_active .student_theHat {
  animation: hatRaise 0.3s;
  animation-fill-mode: forwards;
}
.animation_active .student_theHat .hatWithTassel .tassel {
  animation: turnTassel 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
@keyframes hatRaise {
  0% {
    bottom: -5%;
    transform: translate(-50%, 100%) rotate3d(0, 1, 0, 0deg);
  }
  100% {
    bottom: 100%;
    transform: translate(-50%, 100%) rotate3d(0, 1, 0, 0deg);
  }
}
@keyframes turnTassel {
  0% {
    left: 10%;
    top: 35%;
  }
  50% {
    left: 10%;
    top: 35%;
  }
  75% {
    left: 45%;
    top: 0%;
  }
  100% {
    left: 80%;
    top: 35%;
  }
}
.template-swiper {
  overflow: hidden;
  width: 100%;
  height: 416px;
  position: relative;
}
.template-swiper ul {
  width: 100%;
  height: 100%;
  position: absolute;
  transition-property: top;
  transition-duration: 0.3s;
  top: 0px;
  left: 0px;
}
.template-swiper ul li {
  width: 100%;
  height: 416px;
}
.template-swiper ul li:nth-child(1) {
  background: orange;
}
.template-swiper ul li:nth-child(2) {
  background: pink;
}
.template-swiper ul li:nth-child(3) {
  background: skyblue;
}
