{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="{% static 'css/forTurnTheTassel.css' %}" rel="stylesheet">
</head>
<body>
  <div class="bg">
    <img src="{% static '/picture/bg1.jpg' %}">
  </div>
  <div id="app">
    <div class="turnTheTassel">
      <div class="turnTheTassel-top">
      </div>
      <div class="turnTheTassel-center">
        <!-- <div class="turnTheTassel-center-template">
          <student_templatea
            :students="allData?.students?.filter((item,index)=>index >= 10 * this.nowGroup && index < 10 * (this.nowGroup + 1))"
            :count="nowCount"
          >
          </student_templatea>
        </div> -->
        <div class="template-swiper">
          <ul ref="swiper">
            <li v-for="it in groupArrs">
              <div class="turnTheTassel-center-template">
                <student_templatea
                  :students="it"
                  :count="nowCount"
                >
                </student_templatea>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="turnTheTassel-bottom">
      </div>
    </div>
  </div>
  <script src="{% static '/js/vue.js' %}"></script>
  <script src="{% static '/js/axios.min.js' %}"></script>
  <script type="text/x-template" id="student_templatea">
    <div class="template-group">
      <div :class="{'template-group-item':true,'animation_active': count >= item.id}" v-for="(item,index) in students">
        <img :src="'static/'+item.pic_url">
        {% verbatim %}
        <div class="name">
          {{count}}
        </div>
        {% endverbatim %}
        <div class="student_theHat">
          <div class="hatWithTassel">
            <img src="{% static 'picture/theHat.png' %}">
            <div class="tassel">
              <img src="{% static 'picture/tassel.png' %}"/>
            </div>
          </div>
        </div>
        <div class="template-troup-item-pic">
          <div class="student_cloth">
            <img src="{% static 'picture/cloth.png' %}">
          </div>
        </div>
      </div>
    </div>
  </script>
  <script>
    const app = Vue.createApp({
      computed:{
        groupNum(){
          if(this.allData.hasOwnProperty('students')){
            return Math.ceil(this.allData.students.length / 10)
          }else{
            return 0
          }
        },
        groupArrs(){
          let arrs = [];
          let tempArrs = [];
          this.allData.hasOwnProperty('students') && this.allData.students.forEach((item,index)=>{
            tempArrs = [...tempArrs,item];
            if((index+1) % 10 == 0 || (index + 1) == this.allData.students.length){
              arrs = [...arrs,tempArrs];
              tempArrs = [];
            }
          })
          return arrs
        },
        nowData(){
          return this.allData.students.filter((item,index)=>index >= 10 * this.nowGroup && index < 10 * (this.nowGroup + 1))
        }
      },
      data(){
        return {
          allData:{},
          nowClass:0,
          nowGroup:0,
          nowCount:0,
          message:"Hello world",
          timer:null
        }
      },
      created(){
        axios.get('http://localhost:8000/api/getData/1').then(res=>{
          this.allData = res.data;
        })


        /* let arrs = [];
          let tempArrs
          this.allData.students.forEach((item,index)=>{
            tempArrs = [...tempArrs,item];
            if(index % 10 == 0){
              arrs = [...arrs,tempArrs];
              tempArrs = [];
            }
          })
          console.log(arrs); */

        this.timer = setInterval(()=>{
          this.nowCount++;
          if(this.nowCount > (this.nowGroup + 1) * 10){
            this.nowGroup++;
          }
          this.nowCount >= this.allData.students.length && clearInterval(this.timer)
        },500)
      },
      watch:{
        nowGroup(val){
          this.$refs.swiper.style.top = -416 * val + "px";
        }
      }
    });
    app.component('student_templatea',{
      props:['students','count'],
      template:'#student_templatea'
    })
    const vm = app.mount('#app');
  </script>
</body>
</html>