{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="{% static 'css/forTurnTheTassel.css' %}" rel="stylesheet">
  <link href="{% static 'css/icofont.css' %}" rel="stylesheet">
</head>
<body>
  <div class="bg">
    <img src="{% static '/picture/bg3.jpg' %}">
  </div>
  <div id="app">
    <div class="theAudio" v-if="allData.hasOwnProperty('audio_url')">
      <audio ref="audio" :src="'static/' + allData.audio_url"></audio>
    </div>
    <div class="turnTheTassel">
      <div class="turnTheTassel-top" v-if="!isShow">
        <div class="beforeAct">
          <div class="beforeAct_A">
            <img src="{% static '/picture/newElement/emblem.png' %}">
          </div>
          <div class="beforeAct_B">
            <img src="{% static '/picture/newElement/TopText.png' %}">
          </div>
          <div class="beforeAct_C">
            <img src="{% static '/picture/newElement/TopTextBefore.png' %}">
          </div>
        </div>
      </div>
      <div class="turnTheTassel-top turnTheTassel-topB" v-if="isShow">
        <div class="afterAct">
          <div class="beforeAct_A">
            <img src="{% static '/picture/newElement/emblem.png' %}">
          </div>
          <div class="beforeAct_B">
            <img src="{% static '/picture/newElement/TopText.png' %}">
          </div>
          <div class="beforeAct_C">
            <img src="{% static '/picture/newElement/TopTextBefore.png' %}">
          </div>
        </div>
      </div>
      <div class="turnTheTassel-center">
        <div class="template-swiper" v-if="isShow">
          <ul ref="swiper">
            <li v-for="it in groupArrs">
              <div class="turnTheTassel-center-template">
                <student_templatea
                  :students="it"
                  :count="nowCount"
                >
                </student_templatea>
              </div>
            </li>
          </ul>
        </div>
        <div class="class_page" v-if="!isShow">
          {% verbatim %}
          <div class="class_page_desc">
            <h1>
              {{allData.class_name}}
            </h1>
          </div>
          <!-- <div class="class_pagae_button" @click="handleClick">
            开始仪式
          </div> -->
          {% endverbatim %}
          <div class="class_pagae_button" @click="handleClick">
            <img src="{% static 'icons/theHat.png' %}">
          </div>
        </div>
      </div>
      <div class="turnTheTassel-bottom">
        <div>
          <img src="{% static '/picture/newElement/bottomLeft.png' %}">
        </div>
        <div>
          <img src="{% static '/picture/newElement/mascot.png' %}">
        </div>
        <div>
          <img src="{% static '/picture/newElement/bottomRight.png' %}">
        </div>
      </div>
    </div>
  </div>
  <script src="{% static '/js/vue.js' %}"></script>
  <script src="{% static '/js/axios.min.js' %}"></script>
  <script type="text/x-template" id="student_templatea">
    <div class="template-group">
      <div :class="{'template-group-item':true,'specialOne':students.length <= 3,'animation_active': count >= item.id}" v-for="(item,index) in students">
        <img :src="'static/'+item.pic_url">
        {% verbatim %}
        <div :class="{'student_info':true,'student_info_show':count >= item.id}">
          <div class="student_info_name">
            {{item.name}}
          </div>
          <div class="student_info_number">
            {{item.number}}
          </div>
        </div>
        {% endverbatim %}
        <div class="template-troup-item-pic">
          <div class="student_cloth">
            <img src="{% static 'picture/cloth.png' %}">
          </div>
          <div class="student_theHat">
            <div class="hatWithTassel">
              <img src="{% static 'picture/theHat.png' %}">
              <div class="tassel">
                <img src="{% static 'picture/tassel.png' %}"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </script>
  <script>
    const app = Vue.createApp({
      computed:{
        groupArrs(){
          let arrs = [];
          let tempArrs = [];
          this.allData.hasOwnProperty('students') && this.allData.students.forEach((item,index)=>{
            tempArrs = [...tempArrs,item];
            if((index+1) % 10 == 0 || (index + 1) == this.allData.students.length){
              arrs = [...arrs,tempArrs];
              tempArrs = [];
            }
          })
          return arrs
        }
      },
      data(){
        return {
          allData:{},
          nowClass:0,
          nowGroup:0,
          nowCount:0,
          isShow:false,
          timer:null
        }
      },
      created(){
        axios.get('http://localhost:8000/api/getData/0').then(res=>{
          console.log(res.data);
          this.allData = res.data;
        })
        this.timer = null;

      },
      methods:{
        handleClick(){
          /* console.log(this.$refs.audio.duration); */
          this.isShow = !this.isShow;
          this.$refs.audio.play();
          this.timer = setInterval(()=>{
            this.nowCount++;
            if(this.nowCount < this.allData.students.length && this.nowCount > (this.nowGroup + 1) * 10){
              this.nowGroup++;
            }
            if(this.nowCount >= this.allData.students.length && this.$refs.audio.currentTime >= this.$refs.audio.duration){
              clearInterval(this.timer);
              setTimeout(()=>{
                this.nowCount = 0;
                this.nowGroup = 0;
                this.isShow = !this.isShow;
                this.nowClass++;
                axios.get('http://localhost:8000/api/getData/' + this.nowClass).then(res=>{
                  this.allData = res.data;
                })
              },1000)
            }
          },1800);
        }
      },
      watch:{
        nowGroup(val){
          this.$refs.swiper.style.top = -680 * val + "px";
        }
      }
    });
    app.component('student_templatea',{
      props:['students','count'],
      template:'#student_templatea'
    })
    const vm = app.mount('#app');
  </script>
</body>
</html>